---
import '../styles/tailwind.css'
import '../assets/scss/index.scss'
import SiteMeta from '../components/SiteMeta.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { ClientRouter } from 'astro:transitions'
import { Icon } from 'astro-icon/components'


const {
  title = 'Digital Democrary Initiative Hackathon',
  description = 'Metamorphosis Foundation and the Civic Literacy Initiative are partnering with CIVICUS to host this hackathon in our region, joining a global series of hackathons organized as part of the Digital Democracy Initiative (DDI), a worldwide effort to support civil society in strengthening civic space and promoting inclusive democracy.',
  url = '',
  image = 'social-preview-image.png',
  author = 'Civic Literacy Initiative',
} = Astro.props
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <SiteMeta title={title} description={description.substring(0, 100)} url={url} image={image} author={author} />

    <!-- Enable Astro View Transitions for all browsers -->
    <ClientRouter />
    <script>
      document.addEventListener("scroll", () => {
          const scrollButton = document.getElementById("scrollButton");
          if (window.scrollY > 1200) {
              scrollButton.classList.remove("hidden", "opacity-0", "translate-y-2");
              scrollButton.classList.add("opacity-100", "translate-y-0");
          } else {
              scrollButton.classList.add("opacity-0", "translate-y-2");
              scrollButton.classList.remove("opacity-100", "translate-y-0");
              setTimeout(() => {
                  if (window.scrollY <= 100) {
                      scrollButton.classList.add("hidden");
                  }
              }, 300);
          }
      });

        document.getElementById("scrollButton").addEventListener("click", () => {
            window.scrollTo({
                top: 0,
                behavior: "smooth"
            });
        });
  </script>
  </head>
  <body>
    <Header />
    <main id="main-content" transition:animate="fade">
      <slot />
    
    <div id="scrollButton" class="fixed z-50 hidden bottom-6 right-6 transition-opacity duration-300 transform translate-y-2">
      <!-- <button data-confetti-button>scroll to top</button> -->
       <!-- <span style="border: 1px solid #39b54a; background-color: #39b54a; color: white; padding: 8px; border-radius: 12px; font-size: small"></span> -->
        <!-- -->
         <a class="button has-icon"><Icon name="lucide:arrow-up"></Icon> </a>
    </div>

    </main>
    <Footer />
    <style lang="scss" is:global>
      // sticky footer on low content pages
      html,
      body {
        height: 100%;
      }

      body {
        display: flex;
        flex-direction: column;
        overflow-x: clip;

        main {
          flex: 1 0 auto;
        }

        footer {
          flex-shrink: 0;
        }
      }

      pre {
        border: 2px solid var(--link-color);
        border-radius: 0.35rem;
        padding: 1rem;
      }
    </style>
  </body>

</html>
